{% extends 'myauth/base.html' %}
{% block title %}
    Users list
{% endblock %}
{% block body %}
    <h3>Users list:</h3>
    {% if users %}
        {% for userr in users %}
            <div>
                <p><a href="{% url 'myauth:user-info' pk=userr.pk %}">Username: {{ userr.username }}</a></p>

                {% if userr.profile.avatar %}
                    <div>
                        <img src="{{ userr.profile.avatar.url }}" alt="{{ userr.profile.avatar.name }}">
                    </div>
                {% else %}
                    No avatar yet
                {% endif %}
            </div>
            {% if user.is_staff or user.is_superuser or user.profile.pk == userr.pk %}
                <a href="{% url 'myauth:user-update' pk=userr.pk %}">
                    <button type="button">Edit profile</button>
                </a>
            {% endif %}

        {% endfor %}

    {% endif %}
{% endblock %}